{% load static %}
<h2>All Questions</h2>
      {% for que in questions %}
        <div class="que-box">
          <div class="que">
            <h3>Q. {{ que.question }}</h3>
            <p>--by {{ que.author }}</p>
          </div>
          <h4>Category : {{ que.category }}</h4>

          {% if que.answers %}
            {% for ans in que.answers %}
              <div class="ans">
                <p style="display: flex; align-items: center;gap: 5px;">
                  <span>{{ ans.likes }}</span>
                  {% if ans.like %}
                  <img style="cursor: pointer;" onclick="like_unlike('{{ ans.id }}')" src="{% static 'img/thumb-filled.svg' %}" alt="" />
                  {% else %}
                    <img style="cursor: pointer;" onclick="like_unlike('{{ ans.id }}')" src="{% static 'img/thumbs-up.svg' %}" alt="" />
                  {% endif %}
                  <span>Ans- {{ ans.answer }}</span>
                </p>
                <p>--by {{ ans.author }}</p>
              </div>
            {% endfor %}
          {% else %}
            <p>- No answers yet.</p>
          {% endif %}
          <div class="ans-btn">
            <a href="{% url 'post_answer' que.id %}"><input type="button" name="" value="Post Answer" id="" /></a>
          </div>
        </div>
      {% endfor %}