{% extends 'aaa/base.html' %}
{% load static %}
{% block title %}
  My Questions
{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
  <div class="questions">
    <div class="box">
      <h2>My Questions</h2>
      {% for que in questions %}
        <div class="que-box">
          <div class="que">
            <h3>Q. {{ que.question }}</h3>
            <h1 ><a onclick="return confirm('Are you sure want to delete?')" style="color: red;text-decoration: none;" href="{% url 'delete_question' que.id %}">&times;</a></h1>
          </div>
          <h4>Category : {{ que.category }}</h4>

          {% if que.answers %}
            {% for ans in que.answers %}
              <div class="ans">
                <p style="display: flex; align-items: center;gap: 5px;">
                  <span>{{ ans.likes }}</span>
                  {% if ans.like %}
                  <img style="cursor: pointer;" onclick="like_unlike('{{ ans.id }}')" src="{% static 'img/thumb-filled.svg' %}" alt="" />
                  {% else %}
                    <img style="cursor: pointer;" onclick="like_unlike('{{ ans.id }}')" src="{% static 'img/thumbs-up.svg' %}" alt="" />
                  {% endif %}
                  <span>Ans- {{ ans.answer }}</span>
                </p>
                <p>--by {{ ans.author }}</p>
              </div>
            {% endfor %}
          {% else %}
            <p>- No answers yet.</p>
          {% endif %}
          <div class="ans-btn">
            <a href="{% url 'post_answer' que.id %}"><input type="button" name="" value="Post Answer" id="" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
    function like_unlike(answer) {
      $.get(`/like-unlike/${answer}`, function (response) {
        if (response.updated) {
          location.reload()
        }
      })
    }
  </script>
{% endblock %}
